/* src/SignUpPage.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #8415FF 106.28%);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #aea5c7;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    color: #0066c0;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}